/* Navbar.css */

.navbar {
    background-color:  rgb(55, 55, 100); /* Change the background color to your desired color */
    color: #fff; /* Change the text color to your desired color */
    font-size: 18px;
    border-radius: 5px;
  }
  
  .navbar-brand {
    font-size: 24px; /* Change the font size for the brand/logo */
  }
  
  .navbar-nav .nav-link {
    color: white; /* Change the text color for links */
    padding: 20px 20px; /* Adjust the padding as needed */
  }
  
  /* Add more styles as needed */
  