/* Navbar.css */

.navbar {
    /* background-color:  #1d3158; Change the background color to your desired color */
    color: #fff; /* Change the text color to your desired color */
    /* font-size: 20px; */
    /* border-radius: 5px; */
  }
  
  .navbar-brand {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 21px; 
 
  }
  
  .navbar-nav .nav-link {
    color: white; 
    padding: 25px;
    font-size: 18px;
  }
  .customSearchForm{
    padding: 25px 20px 0px 20px;
  }
.btn-srch{
  color: #fff;
  border-color: #fff;
}
.btn-srch:hover{
  color: #afafb6;
  border-color:  #afafb6;
}
 