/* ContentPage.java */
.sidenav {
    max-height: 100%; 
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: #999 #f1f1f1;
}

/* HtmlPage.java */
.java-page {
    max-width:850px;
    padding: 15px;
    margin: left 0;
    background-color: #f8f8f8; 
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#java-content-title1{
    font-size: 30px;
    padding: 20px;
    margin-bottom: 0px;
}

section{
    margin-top: 20px;
}

#java-content-title2 h2{
    border-radius: 5px;
    background-color: #BCD0C7; 
    font-size: 20px;
    color: rgb(21, 21, 100); 
    padding: 10px; 
}
#java-paragraph p{
    font-size: 16px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    font-size: 16px;
}
