
.cardd-body{
    padding: 20px;
    background-color: #f0f0f0f0; 
}
.clr{
    color:rgb(106, 106, 171);
    font-size: 40px;
    text-decoration: none;
}
.clr:hover{
    color: rgb(31, 174, 91);
    font-size: 40px;
    text-decoration: underline;
}